iframe{
    width: 70%;
    height: 300px;
}

.mapcenter{
  padding-top: 5em;
  text-align: center;

}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transition: all 500ms fade;
  -moz-transition: all 500ms fade;
  -o-transition: all 500ms fade;
  -ms-transition: all 500ms fade;
  transition: all 500ms fade;
  background-image:url(../imgs/front_page3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 750px;
}


.blur-bg {
  opacity: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}

.overlay {
  /*background: rgba(30,30,30,0.72);*/
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  height: 500px;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: all 500ms fade;
  -moz-transition: all 500ms fade;
  -o-transition: all 500ms fade;
  -ms-transition: all 500ms fade;
  transition: all 500ms fade;
  position:relative;

  top:150px;
}


#diamond {
	width: 100%;
	position: relative;
  height: 0;
	border: 400px solid transparent;
	border-bottom-color:rgba(0,0,0,0.95);

  /*top: -390px;
  left: 80px;*/
}
#diamond:after {
	content:" ";
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-top-color:rgba(0,0,0,0.95);
}


#diamond-shield {
    width: 0;
    height: 0;
    border: 500px solid transparent;
    border-bottom: 200px solid rgba(30,30,30,0.72);
    position: relative;
    top: -500px;
}
#diamond-shield:after {
    content: '';
    position: absolute;
    left: -500px;
    top: 200px;
    width: 0;
    height: 0;
    border: 500px solid transparent;
    border-top: 210px solid rgba(30,30,30,0.72);
}

/*#diamond {
    width: 500px;
    height: 500px;
    position:relative;
    left:175px;
    top:100px;
    background:rgba(30,30,30,0.72);

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}*/

.content{
  position:relative;
  top:350px;
}
.intro{
  align-items: center;
  margin-top:200px;
}

.SecTitle{
  text-align:center;
  font-size: 250%;
  margin:50px 0px 50px 0px;
}
