{% extends "layout.html" %}

{% block content %}


  <!--==============================Content=================================-->

  <div class="content">
    <div class="container_12">
      <div class="grid_6" id="table">
        <h4>What's in your Plate</h4>

        <div class="mk_board">

        </div>
        <div class="mk_board_bg">

        </div>

      </div>

      <div class="tabs">
        <div class="grid_6">

          <ul id="color_filter">
            <li color-type="yellow"><a><img class="ornament" src="../static/imgs/ornament1.png" alt="ornament1"></a></li>
            <li color-type="red"><a><img class="ornament" src="../static/imgs/ornament2.png" alt="ornament2"></a></li>
            <li color-type="green"><a><img class="ornament" src="../static/imgs/ornament3.png" alt="ornament3"></a></li>

          </ul>

          <h4>Choose your ingredient by color</h4>

          <div id="ingredient_select">
            <div class="gallery1">
              <img class="ingredient yellow" src="../static/imgs/DIY/y1.png" alt="01 xxx">
              <img class="ingredient red" src="../static/imgs/DIY/r4.png" alt="cherry">
              <img class="ingredient green" src="../static/imgs/DIY/g4.png" alt="asparagus">
              <img class="ingredient yellow" src="../static/imgs/DIY/y2.png" alt="02 xxx">
              <img class="ingredient green" src="../static/imgs/DIY/g1.png" alt="01 green bean">
              <img class="ingredient red" src="../static/imgs/DIY/r5.png" alt="04 xxx">
              <img class="ingredient red" src="../static/imgs/DIY/r1.png" alt="01 xxx">
              <img class="ingredient green" src="../static/imgs/DIY/g2.png" alt="02 xxx">
              <img class="ingredient green" src="../static/imgs/DIY/g3.png" alt="03 xxx">
              <img class="ingredient yellow" src="../static/imgs/DIY/y3.png" alt="03 xxx">
              <img class="ingredient red" src="../static/imgs/DIY/r2.png" alt="02 xxx">
            </div>
        
          </div>
        </div>
      </div>

    </div>
    <a href="pay" class="reserv">Wrap Up Your Food Box!</a>
  </div>


{% endblock %}
